<% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key, crop: :fill, class: "show-page-cover" %>
  <% else %>
   <img class="show-page-cover" src="https://c8.alamy.com/comp/JB1G0H/food-palette-with-fresh-ingredients-including-herbs-and-spices-JB1G0H.jpg"/>
<% end %>

<div class="chatroom-messages-container" id="messages" data-restaurant-id="<%= @restaurant.id %>" >
  <h1> <%= @restaurant.name %> </h1>
  <% @restaurant.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <%= render 'shared/message', message: message %>
    </div>
  <% end %>
</div>

<div class="messageform">
    <%= simple_form_for [ @restaurant, @message ], remote: true do |f| %>
      <%= f.input :content, autofocus: true, label: false, placeholder: "Eat expert...", remote: true %>
      <%= f.submit "ðŸ´", class: "btn btn-primary" %>
    <% end %>
</div>
