<div class="cuisines-banner">
	<div class="search"> 
		<div class="magnifying-glass">
			<i class="fas fa-search"></i>
		</div> 
		<%= form_tag restaurants_path, method: :get do %>
		    <%= text_field_tag :query,
		    params[:query],
		    class: "form-control big-border-radius",
		    placeholder: "Search for..." %>
		    <%= submit_tag "Search", class: "btn btn-primary big-border-radius d-none", id: "searchbtn" %>	
		<% end %> 
 	</div>
</div>

<%# Map %>
<div id="map"
     style="width: 100%; height: 300px; margin-top:25px; margin-bottom: 40px; box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%# render the list of cuisines seeded in the database using partials %>
<div class="cards-wrapper">
	<h3>Cuisine</h3>
	<div class="horizontal-scroll">
		<% @cuisines.each do |cuisine| %>
			<div class="remove-hover-effect">
				<%= render "shared/small_cuisine_card", {cuisine: cuisine} %>
			</div>
		<% end  %>
	</div> 
</div>
<div class="vw-100">
	<% @cuisines.each do |cuisine| %>
		<div class="cards-wrapper">
			<h3><%= cuisine.name %></h3>
			<div class="horizontal-scroll">
				<% @cuisine_restaurants[cuisine.name].each do |restaurant| %>
					<%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
				<% end %>
			</div> 
		</div>
	<% end %>
</div>
