<div class="cuisines-banner">
 
</div>

<%# Map %>
<div id="map"
     style="width: 100%; height: 400px; margin-top:25px; margin-bottom: 40px; box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%# render the list of cuisines seeded in the database using partials %>
<div class="cards-wrapper">
	<h3>Cuisine</h3>
	<div class="horizontal-scroll">
		<% @cuisines.each do |cuisine| %>
			<div class="remove-hover-effect">
				<%= render "shared/small_cuisine_card", {cuisine: cuisine} %>
			</div>
		<% end  %>
	</div> 
</div>
<div class="vw-100">
	<% @cuisines.each do |cuisine| %>
		<div class="cards-wrapper">
			<h3><%= cuisine.name %></h3>
			<div class="horizontal-scroll">
				<% @cuisine_restaurants[cuisine.name].each do |restaurant| %>
					<%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
				<% end %>
			</div> 
		</div>
	<% end %>
</div>
