<div class="cuisines-banner">
	<div class="search"> 
		<div class="magnifying-glass">
			<i class="fas fa-search"></i>
		</div> 
		<%= form_tag restaurants_path, method: :get do %>
		    <%= text_field_tag :query,
		    params[:query],
		    class: "form-control big-border-radius",
		    placeholder: "Search for..." %>
		    <%= submit_tag "Search", class: "btn btn-primary big-border-radius d-none", id: "searchbtn" %>	
		<% end %> 
 	</div>
</div>

<%# Map %>
<div id="map"
     style="width: 100%; height: 400px; margin-top:25px; margin-bottom: 40px; box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">

<%# render the list of cuisines seeded in the database using partials %>
<div class="cards-wrapper">
	<h3 style="text-align: center; margin-bottom: 4px;">Cuisines</h3>
	<div class="horizontal-scroll">
		<% @cuisines.each_with_index do |cuisine, i| %>
			<div class="remove-hover-effect card_index_<%= i %>">
				<%= render "shared/small_cuisine_card", {cuisine: cuisine} %>
			</div>
		<% end  %>
	</div> 
</div>
<hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">

<div class="vw-100">
	<% @cuisines.each do |cuisine| %>
		<div class="cards-wrapper">
			<h3 style="text-align: center; margin-bottom: 4px;"><%= cuisine.name %></h3>
			<div class="horizontal-scroll grid-three">
				<% @cuisine_restaurants[cuisine.name].each do |restaurant| %>
					<%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
				<% end %>
			</div> 
		</div>
		<hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">	
	<% end %>
</div>
<hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">

