
<div class= "background_profile">
  <div>
  	<% if current_user.photo.attached? %>
  	  <%= cl_image_tag current_user.photo.key, class: "profile-avatar" %>
  	<% else %>
  	  <%= image_tag "https://media.wired.com/photos/5a13e24f63f8d15055c806fe/master/pass/hulk-still-bg.jpg", class: "profile-avatar" %>
  	<% end %>
  </div>
</div>

<h3 class= "user_name"> <strong><%= current_user.first_name %><strong></h3>
<h4 class= "user_cuisine"> <%= Cuisine.where(id: current_user.cuisine_id).first.name %> Cuisine Expert</h4>

<div class= "user_bio">
  <h2>Bio</h2>
  <p>ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div>


<div class="cuisine-cards-wrapper">
  <h2 style="font-weight: bold; font-size: 23px">Favorites Restaurant</h2>
  <div class="cuisine_cards_container">
    <% @favorites.each_with_index do |favorite, i| %>
    <div class="cuisine_card">
    	<% if i == 1 %>
    		<img src="https://lh3.googleusercontent.com/proxy/Z4xFXvd4bz_6FKcu1VwSDWwAFr-lt4DugoIH94cM4LCyC06Lar3GuzxDoHadaBfPbcKG1RMsS2SMMt6TLceyoA8eoRL0O-oMM48u7f5IIqjy50fxKIF_">
        <% elsif i == 0  %>
            <img src="https://pbs.twimg.com/profile_images/600006367815049218/GPTFe5f2_400x400.jpg">
        <% else %>
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/b1/82/04/restaurante-porto-mar.jpg">
        <% end %>
    	<h4> <%= favorite.restaurant.name %> </h4>
    	<p><%=favorite.restaurant.neat_address %></p>
    </div>
    <% end %>
  </div> 
</div>
<div class= "profile_small"> </div>
	<!-- Recently upvoted restaurant cards -->
