
<div class= "background_profile">
  <div>
  	<% if current_user.photo.attached? %>
  	  <%= cl_image_tag current_user.photo.key, class: "profile-avatar" %>
  	<% else %>
  	  <%= image_tag "https://media.wired.com/photos/5a13e24f63f8d15055c806fe/master/pass/hulk-still-bg.jpg", class: "profile-avatar" %>
  	<% end %>
  </div>
</div>

<h3 class= "user_name" style="margin-top: 112px;"> <strong><%= current_user.first_name %><strong></h3> 
<h4 class= "user_cuisine"> <%= Cuisine.where(id: current_user&.cuisine_id)&.first&.name %> Cuisine Expert</h4>

<div class= "user_bio">
  <p style="text-align: center;"><%= current_user.bio %></p>
</div>


<h2 style="font-weight: bold; font-size: 23px; text-align: center;">Favorites Restaurant</h2>
  <div class="horizontal-scroll">
    <% @favorites.each do |favorite| %>
      <%# <div class="my-3"> %>
        <%= render "shared/medium_restaurant_card", {restaurant: favorite.restaurant} %>
      <%# </div> %>
    <% end %>
  </div>
<div class= "profile_small"> </div>
	<!-- Recently upvoted restaurant cards -->
<h2>Followers</h2> 
<div class="container">
  <div class="horizontal-scroll">
    
    <% @followed_users.each do |follow| %>
      <div>
        <% if follow.follower.photo.attached? %>
          <%= cl_image_tag follow.follower.photo.key, class: "avatarfollow" %>
        <% else %>
          <%= image_tag "https://media.wired.com/photos/5a13e24f63f8d15055c806fe/master/pass/hulk-still-bg.jpg", class: "profile-avatar" %>
        <% end %>
       <p><%= follow.follower.first_name %></p>
      </div>
    <% end %>
  </div>
   
</div>
