<!-- Background image -->
<div class="cover-banner">
 
</div>

<!-- Palette info icons -->
<div class="icons_aligned">   
  <div class="info-icons">
    <%= image_tag 'small_orange_palette.svg' %>
    <span class="info-nums"><%= @cuisine_count %></span>
    <div class="intro-info">
      <p>Cuisines to explore</p>
    </div>
  </div>
  <div class="info-icons">
     <%= image_tag 'small_yellow_palette.svg' %>
     <span class="info-nums"><%= @restaurant_count %></span>
     <div class="intro-info">
      <p>Restaurants to discover</p>
    </div>
  </div>
  <div class="info-icons">
     <%= image_tag 'small_green_palette.svg' %>
     <span class="info-nums"><%= @user_count %></span>
     <div class="intro-info">
      <p>Cuisine Experts</p>
    </div>
  </div>
</div>

<!-- cuisine index -->
<div class="container">
  <p style="font-weight: bold">Cuisines</p>
  <div>
    <% @cuisines.each do  |cuisine| %>
      <p><%= cuisine.name %></p>
    <% end %>
</div>
</div>
<!-- Recently upvoted restaurant cards -->

<%= render 'shared/index_card.html.erb' %>














