<!-- Background image -->
<div class="cover-banner">
  <div id="title-div">
    <h1 id="title1" class="title">Yummy Palette</h1>
  <!--   <h1 id="title2" class="title">Palette</h1> -->
  </div>
</div>

<!-- Palette info icons -->
<div class="icons_aligned">   
  <div class="info-icons">
    <%= image_tag 'small_orange_palette.svg' %>
    <span class="info-nums"><%= @cuisine_count %></span>
    <div class="intro-info">
      <p>Cuisines to explore</p>
    </div>
  </div>
  <div class="info-icons">
    <%= image_tag 'small_yellow_palette.svg' %>
    <span class="info-nums"><%= @restaurant_count %></span>
    <div class="intro-info">
      <p>Restaurants to discover</p>
    </div>
  </div>
  <div class="info-icons">
    <%= image_tag 'small_green_palette.svg' %>
    <span class="info-nums"><%= @user_count %></span>
    <div class="intro-info">
      <p>Cuisine Experts</p>
    </div>
  </div>
</div>

<!-- cuisine index -->
<div class="cards-wrapper">
  <h2 style="font-weight: bold; font-size: 23px; text-align: center;">Cuisines</h2>
  <div class="horizontal-scroll">
    <% @cuisines.each_with_index do |cuisine, i| %>
      <div class="remove-hover-effect card_index_<%= i %>">
        <%= render "shared/small_cuisine_card", {cuisine: cuisine} %>
      </div>
    <% end  %>
  </div> 
</div>
<!-- Recently upvoted restaurant cards -->
<hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">

<h2 style="margin-bottom: 0; margin-top: 20px; font-weight: bold; font-size: 23px; padding-left: 12px; text-align: center; margin-bottom: 15px;">Latest Upvoted Restaurants</h2>

<div class="restaurant_card_container_home">
  <% @restaurants.each do |restaurant| %>
    <div class="my-3">
      <%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
    </div>
  <% end %>
</div>
