<div class="cuisines-banner">
	<div class="search">  
		<div class="magnifying-glass">
			<i class="fas fa-search"></i>
		</div> 
	<%= form_tag restaurants_path, method: :get do %>
		 
		    <%= text_field_tag :query,
		    params[:query],
		    class: "form-control big-border-radius",
		    placeholder: "Search for..."%>
		    <%= submit_tag "Search", class: "btn btn-primary big-border-radius d-none", id: "searchbtn" %>
	<% end %> 
	</div> 
</div>

<%# Map %>
<div id="map"
     style="width: 100%; height: 400px; margin-top:25px; margin-bottom: 40px; box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">

<div class="restaurant_card_container_home">
	<% @restaurants.each do |restaurant| %>
		<div class="my-3">
		<%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
		</div>
	<% end %>
</div>
