<% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key, crop: :fill, class: "show-page-cover" %>
  <% else %>
   <img class="show-page-cover" src="https://c8.alamy.com/comp/JB1G0H/food-palette-with-fresh-ingredients-including-herbs-and-spices-JB1G0H.jpg"/>
<% end %>


<div class="restaurant-show-container container">
  <div class="restaurant-show-card">

      <h1 class="card-title"><strong><%= link_to @restaurant.name, restaurant_path(@restaurant) %></strong></h1>
      <%= link_to @cuisine.name, cuisine_path(@cuisine), class: "btn btn-ghost cuisine-tag" %>

      <div class="card-restaurant-infos">
        <p class="orange-icon"><%= image_tag 'location-icon-orange.svg' %> <%= @restaurant.address %></p>
        <p class="orange-icon"><%= image_tag 'phone-icon-orange.svg' %> <%= @restaurant.phone %></p>
        <p class="orange-icon"><%= image_tag 'website-icon-orange.svg' %>www.restaurant.com</p>
      </div>
      <br>
      <hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 0 auto;">
      <div class="favorite-vote">
        <%= image_tag 'star-favorite.svg' %>
        <%#= if current_user.cuisine.name = @cuisine.name %>
        <%= image_tag 'upvote-restaurant.svg' %>
        <%# end %>
      </div>
  </div>

    <%# if current_user.signed_in do %>
      <div class="upvote-button">
        <%# TODO%>
      </div>
    <%# else %>
      <div>
        <%# TODO%>
      </div>
    <%# end %>

    <!-- Best dishes card -->
    <h1 class="best-dish-title">Best dishes</h1>
    <div class="best-dishes">
      <div class="flex-card">
        <% @restaurant.tags.each do |tag| %>
          <div class="tag">
            <%= tag.dish.name%>
          </div>
        <% end %>

        <!-- Add Dish trigger modal -->
        <% if current_user.cuisine&.name == @cuisine.name %>
          <button type="button" class="tag" data-toggle="modal" data-target="#tagModal">
            +
          </button>
        <% end %>
        <!-- Modal -->
        <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content add-dish-modal">
              <h5 class="modal_restaurant_name"><%= link_to @restaurant.name, restaurant_path(@restaurant) %></h5>
              <div class="modal-body">
                <p class="add-dish">Add your favorite dish</p>
                <%= simple_form_for(@dish) do |f| %>
                  <%= f.input :name, label: false %>
                  <%= f.input :restaurant_id, :as => :hidden, :class => "add-dish-area", :input_html => { :value => @restaurant.id } %>
                  <div class="d-flex justify-content-center">
                    <%= f.submit 'Submit', class: "submit-button-blue" %>
                    <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> %>
                 </div>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
        <!-- end of add Dish -->
      </div>
    </div>
    <!-- end of Best Dish -->

    <!-- Review card -->
    <h1 style="font-size: 23px; font-weight: bold;">Why we recommend this Restaurant</h1>
    <% @restaurant.reviews.each do |review| %>
      <% if review.user.cuisine&.name == @cuisine.name %>   
        <div class="review_card">
          <div class="avatar">    
            <% if review.user.photo.attached? %>
              <%= cl_image_tag review.user.photo.key, class: "avatar" %>
            <% end %>
          </div>
          <div class="review-dish">
            <div class="expert-name">
              <span><%= review.user.first_name %></span>
              <span class="cuisine-name"><%= review.user.cuisine.name %> Expert</span>
            </div>
            <div class="expert-review">
              <p><%= review.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- Add Review trigger modal -->
    <% if current_user.cuisine&.name == @cuisine.name %>
      <button type="button" class="btn-review" data-toggle="modal" data-target="#reviewModal">Add a Review</button>
    <% end %>
    <!-- Modal -->
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content review-modal">
          <h5 class="modal_restaurant_name"><%= link_to @restaurant.name, restaurant_path(@restaurant) %></h5>
          <div class="modal-body">
            <% if current_user.cuisine&.name == @cuisine.name %>
              <p>Leave a review</p>
            <% else %> 
              <p>Leave a comment</p>
            <% end %>         
            <%= simple_form_for([@restaurant, @review]) do |f| %>
              <%= f.input :content, label: false %>
              <%= f.input :restaurant_id, :as => :hidden, :class => "add-review-area", :input_html => { :value => @restaurant.id } %>
              <%= f.input :user_id, :as => :hidden, :class => "add-review-area", :input_html => { :value => @user.id } %>
              <div class="d-flex justify-content-center">
                <%= f.submit 'Submit', class: "submit-button-blue" %>
                <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> %>
              </div>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <!-- end of add Review -->

    <hr style="border: 1px solid rgba(187, 187, 187, 0.41); width:95%; text-align:center; margin: 20px; auto;">

    <!-- Comments of guests -->
    <h1 style="font-size: 23px; font-weight: bold;">Guests comments</h1>
    <% @restaurant.reviews.each do |review| %>
      <% unless review.user.cuisine&.name == @cuisine.name %>   
        <div class="recommentation_card">
          <div class="avatar">    
            <% if review.user.photo.attached? %>
              <%= cl_image_tag review.user.photo.key, class: "avatar" %>
            <% end %>
            <!--<h3><%#= current_user.first_name</h3> %>-->
          </div>
          <div class="review-dish">
            <div class="expert-name">
              <span><%= review.user.first_name %></span>
              <span class="cuisine-name"><%= review.user.cuisine&.name %> Expert</span>
            </div>
            <div class="expert-review">
              <p><%= review.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>



    <% unless current_user.cuisine.name == @cuisine.name %>
      <button type="button" class="btn-review" data-toggle="modal" data-target="#reviewModal">Add a Comment</button>
    <% end %>   
     <!-- end comments of guests -->

</div>